/var
/app/etc/local.xml
/app/code/local/MW/Developertoolbar/Block/Switch.php
/app/code/local/MW/Developertoolbar/Controller/Router/Standard.php
/app/code/local/MW/Developertoolbar/Helper/Data.php
/app/code/local/MW/Developertoolbar/controllers/IndexController.php
/app/code/local/MW/Developertoolbar/etc/config.xml
/app/code/local/MW/Developertoolbar/etc/system.xml
/app/design/frontend/default/default/layout/mw_developertoolbar.xml
/app/design/frontend/default/default/template/mw_developertoolbar/devtool.phtml
/app/etc/modules/MW_Developertoolbar.xml
/downloader/.cache/community/HM_DeveloperToolbar-2.0.9.tgz
/js/mw_developertoolbar/jquery.js
/js/mw_developertoolbar/popupdevtool.js
/js/mw_js/jquery.js
/js/mw_js/jquery.js.bak
/js/mw_js/jquery_noconflict.js
/js/mw_js/mwup.js
/skin/frontend/default/default/mw_developertoolbar/css/general.css
/skin/frontend/default/default/mw_developertoolbar/images/close_window.gif
/skin/frontend/default/default/mw_developertoolbar/images/hide.gif
/skin/frontend/default/default/mw_developertoolbar/images/show.gif
/.buildpath
/.settings/org.eclipse.php.core.prefs
/media/catalog/product/cache
/app/design/frontend/base/default/template/mw_developertoolbar
/app/code/community/JakeSharp/Waterlee/Block/Topmenu.php
/app/code/community/JakeSharp/Waterlee/Helper/Data.php
/app/code/community/JakeSharp/Waterlee/etc/adminhtml.xml
/app/code/community/JakeSharp/Waterlee/etc/config.xml
/app/code/community/JakeSharp/Waterlee/etc/system.xml
/app/design/frontend/base/default/layout/mw_developertoolbar.xml
/app/etc/modules/JakeSharp_Waterlee.xml
