<?xml version="1.0"?>
<config>
	<modules>
		<Plugin_Adminhtml>
			<version>0.1.0</version>
		</Plugin_Adminhtml>
	</modules>
	<admin>
		<routers>
			<plugin>
				<use>admin</use>
				<args>
					<module>Plugin_Adminhtml</module>
					<frontName>plugin</frontName>
				</args>
			</plugin>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<tutorial_menu>
				<title>Plugin</title>
				<sort_order>9999</sort_order>
				<children>
					<first_page>
						<title>Owa</title>
						<action>plugin/owa/index</action>
					</first_page>
				</children>
			</tutorial_menu>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<plugin>
											<title>Plugin</title>
										</plugin>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<plugin>
					<file>plugin.xml</file>
				</plugin>
			</updates>
		</layout>
	</adminhtml>
	<default>
			<plugin>
				<owa>
					<address><![CDATA[http://localhost/owa/index.php?owa_do=base.magentoDomstreams&isMagento=1]]></address>
				</owa>
			</plugin>
	</default>
</config>