<?xml version="1.0"?>
<config>
	<sections>
		<plugin translate="label">
			<label>Plugin</label>
			<tab>general</tab>
			<frontend_type>text</frontend_type>
			<sort_order>90</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<owa translate="label">
					<label>Owa</label>
					<frontend_type>text</frontend_type>
					<sort_order>11</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<address translate="label">
							<label>Address</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</address>
					</fields>
				</owa>
			</groups>
		</plugin>
	</sections>
</config>