.main-container{width:958px; margin:-10px auto 0;background:#fff;}
.main-container .main{padding:0}
.sidebar{width:244px; margin:0; background:#1d1d1d}
.about{width:714px}
.about .aboutL{ padding:0; width:auto; background:none}
.about .aboutL ul li{width:230px; height:305px;overflow:hidden;margin:0 2.5px 5px}
.about .aboutL ul li img{width:230px;height:230px}
.about h2,.reco_wrap h2{background-image:url("../images/title1.png"); background-position: 0 2px; font-size:1.5em; margin-bottom:10px; height:40px; text-align:left;padding-left:45px; font-weight: normal;}
.about h2 span{line-height:40px;width:auto;padding-right:10px}
.about h2 span.subtitle{float:none;color:#000;padding-top:0; padding-left:30px}
.about h2 a{color:#000}
.followbox{margin:0;padding:0;text-align:left}
.followbox h4{color:#fff; height:38px}
.about .list li .bottom{margin:0 6px}
.about .list li .fr{background:#c40001; line-height:20px; height:20px; width:65px}
.bottom .fr a{font-size:12px}
.latest-wrapper .about .aboutL ul li{height:309px; width:465px; margin:0 5px 5px;background:#262b2e}
.latest-wrapper .about .aboutL ul li img{width:309px;height:309px}
.latest-wrapper .about .aboutL ul li a{display:block; float:left}
.latest-wrapper .followbox{margin-top:35px; margin-bottom:30px}
.latest-wrapper .about .list li .fr{display:none}
.latest-wrapper .about .list li .bottom b{color:#fff; background:url("../images/home-pricebg.png") no-repeat;width:153px; height:41px; line-height:41px; }
#search-leftbox{background:none}
#search-leftbox .block-title{height: 47px; background: url(../images/home-catebg.png) no-repeat; padding: 0; margin: 0;border:0;text-indent: -9999em}
#search-leftbox li.level-top{background:none; padding:0}
#search-leftbox li.level-top a{background:#c71412; line-height:30px; height:30px; margin:3px; font-size:14px}
#search-leftbox .level0 li{padding:0}
#search-leftbox .level0 li a{background:none}
#search-leftbox ul.level0{}
#search-leftbox a{color:#fff}
.reco_wrap,.reco_wrap h2{border:0; color: #fff;}
.reco_wrap{width:auto; margin-bottom: 60px}
.reco_wrap ul{padding:0 10px}
.reco_wrap ul li{padding:0; margin:5px 3px;width:228px}
.reco_wrap .productTitle{margin-bottom:5px; padding:5px 5px 0; height:36px; line-height: 18px; overflow:hidden}
.reco_wrap h2 span.subtitle{float:none;color:#000;padding-top:0; padding-left:30px}
.reco_wrap h2 span{line-height:40px;width:auto;padding-right:10px;float:right;font-size:13px;font-weight:normal}
.latest-wrapper{clear:both}
.latest-wrapper .about{width:auto;max-width:958px}
.latest-index{color:#fff; font-size:2.5em;line-height:1.2em;text-indent:8px}
.reco_wrap ul li .productImg img,.reco_wrap ul li .productImg{width:227px; height:227px}

#yq_Call{display: none;}
.footer p{margin-bottom: 0}
.footer{padding: 45px 0 100px 0}